<div class="container content-container">
  <div class="row">
    <div class="col-md-12">
      <h2>
       All Tickets
      </h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Subject</th>
            <th scope="col">Application</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Assignee</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href=""  class="btn btn-link" routerLink="/createticket">TS1245</a></th>
            <td>Validation error on register page</td>
            <td>Ebooking</td>
            <td>New</td>
            <td>Major</td>
            <td>Brad Michel</td>
          </tr>
          <tr>
            <th scope="row"><a href=""  class="btn btn-link"  routerLink="/createticket">TS1246</a></th>
            <td>Failed to create gurusevak</td>
            <td>Ebooking</td>
            <td>In Progress</td>
            <td>Major</td>
            <td>Gerard Osulivelian</td>
          </tr>
          <tr>
            <th scope="row"><a href=""  class="btn btn-link"  routerLink="/createticket">TS1247</a></th>
            <td>Modal not closing</td>
            <td>OMS</td>
            <td>Closed</td>
            <td>Intermediate</td>
            <td>John Mike</td>
          </tr>
          <tr>
            <th scope="row"><a href=""  class="btn btn-link"  routerLink="/createticket">TS1248</a></th>
            <td>Invalid pravachankar in home page</td>
            <td>JNMS Website</td>
            <td>Closed</td>
            <td>Intermediate</td>
            <td>John Mike</td>
          </tr>
          <tr>
            <th scope="row"><a href=""  class="btn btn-link"  routerLink="/createticket">TS1249</a></th>
            <td>Video not loading</td>
            <td>JNMS Website</td>
            <td>Open</td>
            <td>Major</td>
            <td>Brad Polloc</td>
          </tr>
          <tr>
            <th scope="row"><a href=""  class="btn btn-link"  routerLink="/createticket">TS1250</a></th>
            <td>Not able to load PDF</td>
            <td>Dharmakshetra</td>
            <td>Open</td>
            <td>Minor</td>
            <td>Koln Monyk</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <hr class="divider"/>
  <div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
