    <div class="container content-container">
      <div class="row">
        <div class="col-md-6">
         
          <div class="card">
              <div class="card-header bg-primary text-white">
                My Projects (5) 
              </div>
              <div class="card-body">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Ebooking Web App</li>
                      <li class="list-group-item">Donation Android App</li>
                      <li class="list-group-item">Santasang Android Application</li>
                      <li class="list-group-item">Dharmakeshtra iOS App</li>
                      <li class="list-group-item">OMS Web Application</li>
                  </ul>
              </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                  My Tickets (5)
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Null response from web service</li>
                        <li class="list-group-item">Linux server not responding</li>
                        <li class="list-group-item">OMS validation not working</li>
                        <li class="list-group-item">Error page on submitting gurusevak..</li>
                        <li class="list-group-item">Incorrect email validations on guruseva registration page</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>

      <div class="line-separator"></div>

      <div class="row">
        <div class="col-md-12">
          <h2>
            Lorem Ipsum Dolor
          </h2>
          <p>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          </p>
        </div>
      </div>
    </div>
